<div class="flex flex-col mt-28 text-center items-center flex-1 justify-center">
  <img class="w-64" alt="gift" src="gift.png"/>
  <h1 class="text-white text-3xl md:text-4xl font-semibold max-w-2xl">
    Discover the magic of our surprise box
  </h1>
  <p class="text-white/90 mt-4 max-w-xl">
    Unleash your child's curiosity with our educational subscription box filled with fun and
    learning.
  </p>
  <button
    (click)="goToPurchase()"
    class="cursor-pointer hover:bg-white hover:text-[#AB95F9] font-medium px-6 py-3 rounded-full mt-6 border-2 bg-[#AB95F9] text-white transition-colors duration-400"
  >
    Purchase Now
  </button>
</div>
